# Sources
/api
/src

# Obsidian
/versions.json
/dist/main.js
/dist/styles.css
/manifest.json

# Documentation
/docs/images/*
!/docs/images/screenshot_manage_pane_darklight.png

# Development
node_modules
/tsconfig.json
/build
/*.config.cjs
/*.config.mjs
/.*

# Deployment
.github

# Artifacts
*.tsbuildinfo

# System
.DS_Store
._*

# IDEs
.vscode
.idea
*.iml
