.callout-manager-pane-header {
	display: flex;
	align-items: center;

	padding-top: var(--size-4-1);
	padding-bottom: var(--size-4-1);
	padding-right: var(--size-4-12);

	background-color: var(--background-secondary);
	border-bottom: 1px solid var(--background-modifier-border);

	body.is-phone & {
		background-color: var(--background-primary);
	}
}

.callout-manager-pane-header-nav {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: var(--size-4-12);
	min-height: calc(var(--size-4-2) + var(--input-height));

	button {
		padding: var(--size-4-1) var(--size-4-2);
	}

	body.is-mobile &,
	body.is-mobile & button {
		height: 100%;
		min-width: unset;
	}
}

body.is-mobile .callout-manager-pane-header-nav {
	padding: var(--size-4-2);
}
