// The PaneStack's container.
// Inside the setting tab: the padding is removed so we can create a sticky header.
.mod-sidebar-layout .callout-manager-setting-tab.vertical-tab-content {
	position: relative;
	padding: 0 !important;
	display: flex;
	flex-direction: column;

	// Prevent scrolling on the parent container, so we can have a sticky header.
	overflow-y: initial;

	// Header.
	> .callout-manager-pane-header {
		flex: 0 0 auto;
	}

	> .callout-manager-pane-header + * {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		min-height: 0; // Prevents the container from overflowing.
	}
}
