:root {
	--calloutmanager-icon-picker-size: 100px;
	--calloutmanager-icon-picker-gap: 8px;
	--calloutmanager-icon-picker-icon-size: 2.5em;
	--calloutmanager-icon-picker-id-size: 0.75em;
}

.calloutmanager-icon-picker {
	display: grid;

	grid-template-columns: repeat(auto-fill, var(--calloutmanager-icon-picker-size));
	grid-auto-rows: var(--calloutmanager-icon-picker-size);
	gap: var(--calloutmanager-icon-picker-gap);

	justify-content: center;

	.calloutmanager-icon-preview {
		height: 100%;

		--calloutmanager-icon-preview-icon-size: var(--calloutmanager-icon-picker-icon-size);
		--calloutmanager-icon-preview-id-size: var(--calloutmanager-icon-picker-id-size);
	}
}
