.callout-manager-edit-callout-section--appearance {
}

// The preview showing the complex callout setting JSON.
.callout-manager-edit-callout--complex-json pre {
	border: rgba(var(--background-modifier-border)) 1px solid;
	border-radius: var(--callout-radius);
	padding: var(--size-4-2);
	background: var(--background-primary-alt);
	overflow-x: auto;

	margin: 0;
}

// The reset button.
.callout-manager-edit-callout--complex-reset {
	width: 100%;
}
