// The info paragraph and list.
.callout-manager-edit-callout-section--info {
	color: var(--text-muted);
}

.callout-manager-edit-callout--invalid-color {
	color: var(--text-error);
}

.callout-manager-edit-callout--callout-color {
	color: rgb(var(--resolved-callout-color));
}

.callout-manager-edit-callout--callout-id,
.callout-manager-edit-callout--callout-icon,
.callout-manager-edit-callout--callout-source {
	color: var(--text-normal)
}

.callout-manager-edit-callout--callout-source-list {
}
