// Ensure the preview takes a certain height.
.callout-manager-edit-callout-preview {
	padding-bottom: var(--size-4-8);
	min-height: 14em;

	body.is-mobile & {
		min-height: 35vh;
	}
}

// The text box that allows the preview to be changed.
.callout-manager-preview-editor {
	resize: vertical;
	width: 100%;
	min-height: 6em;

	margin-top: var(--size-4-3);

	// Try to be as transparent as possible.
	background: transparent;
	font-size: var(--font-text-size);
	font-family: var(--font-text);
	line-height: var(--line-height-normal);
}
