.callout-manager-search-error {
	width: 60%;

	body.is-phone & {
		width: 100%;
	}

	code {
		word-break: break-all;
		color: var(--text-accent);
	}
}

.callout-manager-search-error-suggestions {
	color: var(--text-muted);
}


.callout-manager-preview-container-with-button {
	--cm-edit-button-size: calc(var(--input-height) + 2*var(--size-4-3));
	body.is-phone & {
		--cm-edit-button-size: var(--input-height);
	}

	// Conver the preview into a grid.
	display: grid;
    grid-template-columns: 1fr var(--cm-edit-button-size);

	align-items: center;
	gap: var(--size-4-2);

	// Ensure the button has a small width, but can grow tall.
	> button {
		width: var(--cm-edit-button-size);
		height: 100%;

		// Fix rendering not working on non-phone devices.
		body:not(.is-phone) & {
			display: block;
			padding: 0 !important;
		}
	}
}
